.contact-form {
  .input-field-container {
    position: relative;
    .input-field-icon {
      position: absolute;
      font-size: 28px;
      top: 42px;
      left: 40px;
      opacity: 0.4;
    }
    .input-field {
      width: 100%;
      height: 65px;
      border-radius: 12px;
      background: #ffffff;
      border: 1px solid #e7e7e7;
      outline: none;
      font-size: 18px;
      padding-left: 55px;
      padding-right: 20px;
      box-shadow: 10px 10px 24px 1px rgba(221, 221, 221, 0.15);
    }
    .text-area {
      background: #ffffff;
      border: 1px solid #e7e7e7;
      box-shadow: 10px 10px 24px 1px rgba(221, 221, 221, 0.15);
      border-radius: 12px;
      height: 284px;
      outline: none;
      width: 100%;
      padding-left: 55px;
      padding-top: 20px;
      padding-right: 20px;
      font-size: 18px;
    }
  }
  .submit-button {
    float: right;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .contact-form {
    display: flex;
    flex-direction: column;
    .input-field-container {
      .input-field-icon {
        font-size: 25px;
        left: 22px;
      }
      .input-field {
        height: 60px;
        padding-left: 45px;
        font-size: 14px;
      }
      .text-area {
        height: 200px;
        font-size: 14px;
        padding-left: 45px;
      }
    }
  }
}
