.header {
    background-color: "#000000";
    opacity: 0.55;
    transition: "background 0.3s, border-radius 0.3s, opacity 0.3s",
}

.app-bar {
    background-color: transparent;
    box-shadow: none;
    padding-top: 10px;
}

.header-menu {
    flex-grow: 0;
    align-items: center;
}

.header-menu-items {
    display: block;
    cursor: pointer;
    transition: all .2s linear;
}

.header-menu-items:hover {
    color: var(--primary-green)
}

.contact-us-button {
    text-align: center;
    background-color: var(--primary-green);
    color: white;
    border-radius: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 25px;
    padding-left: 25px;
    font-weight: bold;
}

.contact-us-button:hover {
    background-color: var(--primary-green);
}