.blog-card {
  .blog-card-items {
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    margin: 25px 0px;
    border-radius: 10px;
    gap: 40px;
    .blog-card-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
