.testimonial-card {
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
  text-align: center !important;
  color: gray !important;
  .testimonial-image {
    width: 100px;
    height: 100px;
    padding: 7px;
    margin-bottom: 30px;
  }
  .testimonial-name {
    margin-top: 20px;
    font-weight: 600;
    color: black;
  }
  .testimonial-designation {
    .product-link {
      color: var(--primary-green);
    }
  }
}
