.footer-container {
    background-color: black;
    padding: 40px 10px;
    color: var(--primary-grey);
    opacity: 0.9;
}

.heading-1 {
    text-align: center;
    margin-bottom: -10px;
}

.heading-2 {
    text-align: center;
    margin: 20px 0;
}

.heading-3 {
    color: rgb(81, 81, 239);
    cursor: pointer;
}

.heading-3:hover {
    color: var(--primary-green)
}


.heading-4 {
    text-align: center;
}