.testimonials-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .testimonial {
    margin-top: 20px;
    width: 70%;
    .slick-arrow.slick-prev {
      width: 120px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      border-radius: 5px;
    }

    .slick-arrow.slick-next {
      width: 120px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      border-radius: 5px;
    }

    .slick-arrow.slick-next {
      right: -100px;
    }

    .slick-arrow.slick-prev {
      left: -100px;
    }
  }
}
