.home-page-container {
  .solution-color {
    color: #63ac45;
    font-weight: 600;
    font-family: 'lato';
  }

  .youtube-icon {
    background-color: #ffffff;
    border: 2px solid #e7e7e7;
    width: 60px;
    height: 60px;
    box-shadow: 13.9px 13.9px 33.36px 1.39px rgba(221, 221, 221, 0.15);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .service-image {
    box-shadow: 10px 10px 0px 1px rgb(0 0 0 / 7%);
    border-radius: 4px;
    cursor: pointer;
    opacity: 1.9;
  }

  .services-carousel {
    display: none;
  }

  .blogs-carousel {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .home-page-container {
    .services-grid {
      display: none;
    }

    .services-carousel {
      display: block;
    }

    .blogs-grid {
      display: none;
    }

    .blogs-carousel {
      display: block;
    }
  }
}

@media only screen and (max-width: 375px) {
  .home-page-container {
    .blogs-header-section {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .view-all-btn {
      height: 50px;
    }
  }
}
