.home-page-container {
  .home-main-heading-1 {
    font-size: 16px;
    font-family: 'lato';
  }
  .solution-color {
    color: #63ac45;
    font-weight: 600;
    font-family: 'lato';
  }

  .contact-us-button {
    font-family: 'lato';
    color: white;
    padding: '12px 30px';
  }

  .youtube-icon {
    background-color: #ffffff;
    border: 2px solid #e7e7e7;
    width: 60px;
    height: 60px;
    box-shadow: 13.9px 13.9px 33.36px 1.39px rgba(221, 221, 221, 0.15);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // .about-us {
  //   background-color: rgba(99, 172, 69, 0.1);
  //   border-radius: 12px;
  //   height: 370px;
  //   margin-top: 50px;
  //   margin-bottom: 50px;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  //   text-align: center;
   
  // }

  .home-main-heading-2 {
    font-size: 56px;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 67px;
    font-family: 'lato';
  }

  .service-image-container {
    background: url('../../public/images/serviceBackground.png');
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .service-image {
    box-shadow: 10px 10px 0px 1px rgb(0 0 0 / 7%);
    border-radius: 4px;
    cursor: pointer;
    opacity: 1.9;
  }

  .service-description {
    margin: 10px 0;
    font-size: 12px;
  }
}
