.home-page-container {
  .home-main-heading-1 {
    font-size: 16px;
    font-family: 'lato';
  }

  .solution-color {
    color: #63ac45;
    font-weight: 600;
    font-family: 'lato';
  }

  .contact-us-button {
    font-family: 'lato';
    color: white;
    padding: '12px 30px';
  }

  .youtube-icon {
    background-color: #ffffff;
    border: 2px solid #e7e7e7;
    width: 60px;
    height: 60px;
    box-shadow: 13.9px 13.9px 33.36px 1.39px rgba(221, 221, 221, 0.15);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home-main-heading-2 {
    font-size: 56px;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 67px;
    font-family: 'lato';
  }

  .service-heading {
    margin: 6.9rem 0 3rem 0;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    opacity: 0.8;
  }

  .service-divider {
    margin-top: 0.2rem;
    border-color: var(--primary-green);
    border-top: 2px solid;
    border-top-color: var(--primary-green);
    margin-bottom: 3rem;
  }

  .service-image {
    box-shadow: 10px 10px 0px 1px rgb(0 0 0 / 7%);
    border-radius: 4px;
    cursor: pointer;
  }

  .service-description {
    margin: 10px 0;
  }

  .service-button {
    text-align: center;
    background-color: var(--primary-green);
    color: white;
    border-radius: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 40px;
    padding-left: 40px;
    font-weight: 600;
    &:hover {
      background-color: var(--primary-green);
    }
  }
}
