.page-header {
  margin-top: 30px;
  position: relative;
  .header {
    background-color: rgba(99, 172, 69, 0.1);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    margin-bottom: 5%;
    .heading {
      width: 70%;
      .heading-text {
        font-size: 30px;
        font-weight: 600;
      }
    }
  }
  .page-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .content-list {
      margin: -10px 10px -10px 40px;
    }
  }

  .likes {
    background: #ffffff;
    border: 1.39px solid #e7e7e7;
    box-shadow: 13.9px 13.9px 33.36px 1.39px rgba(221, 221, 221, 0.15);
    border-radius: 8px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .page-header {
    .header {
      flex-direction: column;
      padding: 20px;
      align-items: flex-start;
      .icons {
        display: none;
      }
      .heading {
        width: 100%;
        font-size: 10px;
        .heading-text {
          font-size: 24px;
          margin-bottom: 10px;
        }
      }
    }
    .likes {
      .scroll-top {
        display: none;
      }
    }
  }
}
