.contact-us-heading {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-bottom: 100px;
}

.contact-icon:hover {
    cursor: pointer;
    color: var(--primary-green);
}