.blog {
  padding: 3px;
  .blog-container {
    .blog-image {
      border-radius: 12px;
    }
    .blog-content {
      .blog-title {
        font-size: 16px;
        font-weight: 600;
      }

      .blog-description {
        font-size: 13px;
      }

      .read-time {
        font-size: 11px;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .blog {
    .blog-container {
      .blog-content {
        .blog-title {
          font-size: 14px;
        }
        .read-time {
          font-size: 10px;
        }
      }
    }
  }
}
