html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --primary-green: #63ac45;
  --primary-grey: #d3d3d3;
  --icon-grey-color: #939393;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #333;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

p {
  margin: 15px 0;
  line-height: 1.8;
}

.post-img {
  width: 100%;
  border-radius: 10px;
}

header {
  background: steelblue;
  color: #fff;
  padding: 5px;
  margin-bottom: 40px;
}

header a {
  color: #fff;
}

.container {
  max-width: 768px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
}

.btn {
  display: inline-block;
  background: steelblue;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-back {
  background: #f4f4f4;
  color: #000;
  margin-bottom: 20px;
}

.posts {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  gap: 30px !important;
  margin-top: 30px !important;
}

.card {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-page {
  padding: 15px 30px;
}

.post-title {
  margin: 10px 0;
}

.post-date {
  background: rgb(99, 172, 69, 0.1);
  margin-bottom: 20px;
  padding: 8px 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.service-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-body ul,
ol {
  font-size: 100%;
  line-height: 2.3;
  margin: 10px 0;
  padding-left: 20px;
}

.post-body pre {
  background: #e5e5e5;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
}

.read-button {
  font-family: 'lato';
  color: white !important;
  font-size: 13px;
  height: 48px;
}

@media (max-width: 500px) {
  .posts {
    grid-template-columns: 1fr !important;
  }
}
