.header-menu-container {
  .menu-icon {
    width: 48px;
    height: 48px;
    background-color: '#FFFFFF';
    border: 1px solid #e7e7e7;
    box-shadow: 10px 10px 24px 1px rgba(221, 221, 221, 0.15);
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -2px;
  }
}

@media only screen and (max-width: 650px) {
  .header-menu-container {
    .menu-icon {
      right: -6px;
    }
  }
}
